/* You can add global styles to this file, and also import other style files */

$offwhite: #fefff6;
$gold: goldenrod;
$lightgrey: slategray;

html, body{
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
  color: $offwhite;
}

.full-height{
  height: 100%;
}

.row{
  margin-bottom: 0px;
}