<div class="full-height about row">
  <div class="col s6 info">
    <p>
      Mark is from Austin, TX but is currently living in Seattle, WA, trading the slick Texas limestone for the PNW's immaculate granite. He's been climbing since 2006, and coming from a family of athletes has always taken training very seriously. He loves learning about and trying new training techniques, constantly searching for the next breakthrough.
    </p>
    <p>
      Mark also enjoys making climbing movies. He spends much of his time outside split between actually climbing and filming his friends, hoping to produce high-quality videos highlighting the PNW's best boulders.
    </p>
    <p>
      Besides climbing, Mark has a background in physics, astronomy, and mechanical engineering. However, he's recently succumbed to the Seattle tech scene, and is now working as a web developer. He also really likes pastries.
    </p>
    <mdg-contact-form></mdg-contact-form>
  </div>
  <div class="col s6 image">
    <img src="/assets/images/icelandcropsmall.png" alt="">
  </div>
</div>
