<nav [class.footer-home]="isHome">
<!-- <nav [class.footer-home]="isHome"> -->
    <div class="nav-wrapper">
      <span class="brand-logo"> &copy; 2018 Mark Goldstein</span>
      <ul class="right">
        <li>
          <a href="mailto:mgoldstein@utexas.edu"><i class='fa fa-envelope-o'></i></a>
        </li>
        <li>
          <a href="https://instagram.com/markdgold" target="_blank"><i class='fa fa-instagram'></i></a>
        </li>
        <li>
          <a href="https://vimeo.com/user2724917" target="_blank"><i class='fa fa-vimeo'></i></a>
        </li>
      </ul>
    </div>
  </nav>